.centered-quarterly_menu {
  text-align: center;
  color: #ffffff;
}


h1,h2,h3,h4 {
  font-family: "Croissant One", cursive;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center
 
}
.loction_button {
  padding-right: 20px;
  text-align: center ;
}


p {
  color: #ffffff;
  text-align: center
 
  
}

h1 {
  font-size: 45px;
  color: #ffffff
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

h3 {
  font-size: 25px; 
}

h4 {
  font-size: 20px; 
}

.description {
  font-family: "Croissant One", cursive;
  font-size: 15px;
  line-height: 1.5;
  margin: 10px;
  padding: 10px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://drive.google.com/uc?export=view&id=1KVDapld513gDp4XOaLft0qfmeyxhszdV);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-attachment: fixed;
}

a {
  color: #3399ff;
}

div {
  text-align: center
}

.flex {
  max-width: 75%; 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.food-image {
  width: 200px;
}

.logos {
  max-width: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.logo-image {
  width: 50px;
}



#logo,.centered-quarterly_menu,.tmf,.lh {
  display:none
}

.navbar {
  background-color: #990000;
  padding: 12px 6px;

}

.navbar .navLinks {
  max-width: 500px !important;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}          


.navbar .navLinks li a {
  padding: 4px 2px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.hours {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  
 
}
address {
 color: #ffffff;
  text-align: center
}

.about-us {
  display:flex;
  align-items: center;
  width: 100%;
  background-color: #f6daa8; 
  justify-content: space-evenly;
  border: 3px solid black;

}


.description1 {
  width: 35%;
  color:#0c0c0c;
  font-family: "Croissant One", cursive;
  line-height: 2;
}

.image {
  width: 35%;
 }

 .menu {
  display: flex;
  justify-content: space-between;
  padding: 20px
 }
 .wrapsides {
  text-decoration: underline;
 }

.hours li span {
 display: inline-block;
 width: 115px
}

.day {
  text-align: left
}
.special {
  text-align: left
}


.footer {
  background-color: #990000;
  padding: 30px 15px;
  justify-content: space-evenly;
}

.footer .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

}


.footer .socialMedia a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #fffffd;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.footer .socialMedia img {
  width: 20px;
  height: 20px;
}

.footer p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: white;
}









