.centered-quarterly_menu {
  text-align: center;
/*   width: 800px; */
  color: #ffffff;
}


h1,h2,h3,h4 {
  font-family: "Croissant One", cursive;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
 
}
.loction_button {
  padding-right: 20px;
  text-align: center ;
}


p {
  color: #ffffff;
  text-align: center
  
}

h1 {
  font-size: 45px;
  color: #ffffff
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

h3 {
  font-size: 25px; 
}

h4 {
  font-size: 20px; 
}

.description {
  font-family: "Croissant One", cursive;
  font-size: 15px;
  line-height: 1.5;
  margin: 10px;
  padding: 10px;
}

body {
  background-image: url(https://drive.google.com/uc?export=view&id=1KVDapld513gDp4XOaLft0qfmeyxhszdV);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

a {
  color: #3399ff;
}

div {
  text-align: center
}

.flex {
  max-width: 50% ; 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.food-image {
  width: 200px;
}

.logos {
  max-width: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  
}

.logo-image {
  width: 50px;
}

#image {
height:200px;
}

#logo,.centered-quarterly_menu,.tmf,.lh {
  display:none
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 35px;
  background-color: #990000         
}

.nav_bar li {
  
}

.hours {
  color: #ffffff;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  
 
}
address {
 color: #ffffff;
  text-align: center
}
.about-us {
  background-color: #ffffcc;
  color: #990000;
  text-align: left
}
.description1 {
  color:#990000
}
#au {
  color:#990000
} 

.hours li span {
 display: inline-block;
 width: 115px
}

.day {
  text-align: left
}
.special {
  text-align: left
}










